# Ignore SQLite databases
/storage/*.sqlite3
/storage/*.sqlite3-journal

# Ignore logs
/log/*.log
/log/*.pid
/tmp

# Ignore OS files
.DS_Store

# Ignore public icons
/public/*.png
/public/*.ico

/config/master.key
